// police GoogleFonts
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');
@import './color';
@import './mixins';

// reset global
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// style pre config
body {
    font-family: 'Tajawal', sans-serif;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $textColor;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

// header 
header {
    text-align: center;
    .header__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px auto 10px auto;
        p {
            width: 50%;
            text-align: left;
            span {
                color: $buttonColor;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2rem;
                letter-spacing: 0.3rem;
            }
        }
        i {
            font-size: 2rem;
            color: $buttonColor;
            cursor: pointer;
            width: 50%;
            text-align: end;
        }
        .header__nav {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in;
            ul {
                li {
                    background-color: #2d3d64b8;
                    padding: 15px 0;
                    border-bottom: 2px solid #fff;
                    a {
                        &:hover {
                            color: $buttonColor;
                            transition: .5s;
                        }
                    }
                }
            }
        }

        .height-nav {
            max-height: 600px;
            transition: max-height 1s ease-in;
        }

    }
    .header__bottom {
        position: relative;
        color: #fff;
        img {
            height: 100%;
            min-height: 400px;
            max-height: 700px;
        }
        .header__recherche {
            h1 {
                text-shadow: 1px 1px 10px #000;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 90%;
            margin: auto;
            right: 0;
            left: 0;
            form {
                text-align: center;
                background-color: #0000008f;
                padding: 10px;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 0.3rem;
                justify-content: center;
                select {
                    height: 32px;
                }
                input {
                    height: 32px
                }
                a {
                    @include buttonStyle ();
                    margin-top: 10px;
                }
            }
        }

    }
}


// section bloc image
.container__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1300px;
    width: 90%;
    margin: auto;
    text-align: center;
    .elements {
        margin-bottom: 30px;
        img {
            width: 100px;
        }
    }
}


// section derniere annonces
.derniere-annonces {
    width: 90%;
    margin: 0 auto 20px auto;
    hr {
        margin: 0 0 10px 0;
        width: 50px;
        height: 3px;
        background-color: #000;
    }
    // swiper style
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                color: #fff;
                background: #000;
                @include centrerBloc();
            }
        }

        .swiper-button-next {
            color: #fff;
            background-color: #0000008f;
            &::after {
                font-size: 1rem;
            }
        }
        .swiper-button-prev {
            color: #fff;
            background-color: #0000008f;
            &::after {
                font-size: 1rem;
            }
        }
        
    }
}

// section agence
.agence {
    background-color: $bgcAgence;
    color: #fff;
    width: 90%;
    margin: auto;
    padding: 20px;
    .agence__title{
        text-align: center;
    }
    hr {
        margin: 0 auto 20px auto;
        width: 50px;
        height: 3px;
        background-color: #fff;
    }
    a {
        @include buttonStyle ();
        margin-top: 20px;
    }
}

// section annonces 
.annonces {
    width: 90%;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    .bloc {
        position: relative;
        margin-bottom: 10px;
        img {
            height: 100%;
        }
        .encart {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #0000008f;
            height: 100%;
            @include centrerBloc();
            flex-direction: column;
            color: #fff;
            padding: 30px;
            width: 40%;
            text-align: center;
            hr {
                background-color: #fff;
                height: 3px;
                width: 25px;
            }
        }
    }
}

// footer
footer {
    background-color: $bgcFooter1;
    color: #fff;
    .footer__logo {
        text-align: center;
        letter-spacing: 0.3rem;
        padding: 10px;
    }
    .footer__contact {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 1px solid #fff;
        padding: 20px 0;
        .elements {
            margin: 15px 10px;
        }
        .footer__social-media {
            @include centrerBloc ();
            flex-direction: column;
            p {
                margin-bottom: 10px;
            }
            ul {
                display: flex;
                li {
                    margin: 0 5px;
                    img {
                        width: 35px
                    }
                }
            }
        }
        a {
            @include buttonStyle ();
            height: 32px;
            margin: 0;
        }
    }
    .footer__mentions {
        background-color: $bgcFooter2;
        p {
            width: 90%;
            margin: auto;
            padding: 30px 0;
        }
    }
}























@import './mediaqueries';