@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f6f6f6;
}

.bold {
  font-weight: bold;
}

header {
  text-align: center;
  color: #fff;
}

header .header__bottom {
  position: relative;
}

header .header__bottom img {
  height: 100%;
  min-height: 250px;
  max-height: 700px;
}

header .header__bottom .header__recherche {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  margin: auto;
  right: 0;
  left: 0;
}

header .header__bottom .header__recherche h1 {
  text-shadow: 1px 1px 10px #000;
  text-transform: uppercase;
}

header .header__bottom .header__recherche form {
  text-align: center;
  background-color: #0000008f;
  padding: 10px;
}

header .header__bottom .header__recherche form a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin: 0;
  display: inline;
}

.container__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1300px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.container__images .elements {
  margin-bottom: 30px;
}

.container__images .elements img {
  width: 100px;
}

.derniere-annonces {
  width: 90%;
  margin: 0 auto 20px auto;
}

.derniere-annonces hr {
  margin: 0 0 10px 0;
  width: 50px;
  height: 3px;
  background-color: #000;
}

.derniere-annonces .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.derniere-annonces .swiper .swiper-button-next {
  color: #fff;
  background-color: #0000008f;
}

.derniere-annonces .swiper .swiper-button-next::after {
  font-size: 1rem;
}

.derniere-annonces .swiper .swiper-button-prev {
  color: #fff;
  background-color: #0000008f;
}

.derniere-annonces .swiper .swiper-button-prev::after {
  font-size: 1rem;
}

.agence {
  background-color: #222222;
  color: #fff;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.agence .agence__title {
  text-align: center;
}

.agence hr {
  margin: 0 auto 20px auto;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.agence a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

.annonces {
  width: 90%;
  margin: 20px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.annonces .bloc {
  position: relative;
  margin-bottom: 10px;
}

.annonces .bloc img {
  height: 100%;
}

.annonces .bloc .encart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0000008f;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 30px;
  width: 40%;
  text-align: center;
}

.annonces .bloc .encart hr {
  background-color: #fff;
  height: 3px;
  width: 25px;
}

footer {
  background-color: #333333;
  color: #fff;
}

footer .footer__logo {
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px;
}

footer .footer__contact {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #fff;
  padding: 20px 0;
}

footer .footer__contact .elements {
  margin: 15px 10px;
}

footer .footer__contact .footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__contact .footer__social-media p {
  margin-bottom: 10px;
}

footer .footer__contact .footer__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

footer .footer__contact .footer__social-media ul li {
  margin: 0 5px;
}

footer .footer__contact .footer__social-media ul li img {
  width: 35px;
}

footer .footer__contact a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  height: 32px;
  margin: 0;
}

footer .footer__mentions {
  background-color: #111111;
}

footer .footer__mentions p {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

@media only screen and (min-width: 568px) {
  .annonces {
    -ms-grid-columns: (2fr)[auto-fill];
        grid-template-columns: repeat(auto-fill, 2fr);
  }
  .annonces .bloc {
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .container__images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }
  .derniere-annonces {
    width: 80%;
  }
  .annonces {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .container__images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
  .derniere-annonces {
    width: 70%;
  }
  .annonces {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */