@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #f6f6f6;
}

ul {
  list-style: none;
}

.bold {
  font-weight: bold;
}

header {
  text-align: center;
}

header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 10px auto 10px auto;
}

header .header__top p {
  width: 50%;
  text-align: left;
}

header .header__top p span {
  color: #be7890;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

header .header__top i {
  font-size: 2rem;
  color: #be7890;
  cursor: pointer;
  width: 50%;
  text-align: end;
}

header .header__top .header__nav {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

header .header__top .header__nav ul li {
  background-color: #2d3d64b8;
  padding: 15px 0;
  border-bottom: 2px solid #fff;
}

header .header__top .header__nav ul li a:hover {
  color: #be7890;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header__top .height-nav {
  max-height: 600px;
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

header .header__bottom {
  position: relative;
  color: #fff;
}

header .header__bottom img {
  height: 100%;
  min-height: 400px;
  max-height: 700px;
}

header .header__bottom .header__recherche {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  margin: auto;
  right: 0;
  left: 0;
}

header .header__bottom .header__recherche h1 {
  text-shadow: 1px 1px 10px #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header .header__bottom .header__recherche form {
  text-align: center;
  background-color: #0000008f;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__bottom .header__recherche form select {
  height: 32px;
}

header .header__bottom .header__recherche form input {
  height: 32px;
}

header .header__bottom .header__recherche form a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

.container__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1300px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.container__images .elements {
  margin-bottom: 30px;
}

.container__images .elements img {
  width: 100px;
}

.derniere-annonces {
  width: 90%;
  margin: 0 auto 20px auto;
}

.derniere-annonces hr {
  margin: 0 0 10px 0;
  width: 50px;
  height: 3px;
  background-color: #000;
}

.derniere-annonces .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.derniere-annonces .swiper .swiper-button-next {
  color: #fff;
  background-color: #0000008f;
}

.derniere-annonces .swiper .swiper-button-next::after {
  font-size: 1rem;
}

.derniere-annonces .swiper .swiper-button-prev {
  color: #fff;
  background-color: #0000008f;
}

.derniere-annonces .swiper .swiper-button-prev::after {
  font-size: 1rem;
}

.agence {
  background-color: #222222;
  color: #fff;
  padding: 20px;
}

.agence .agence__title {
  text-align: center;
}

.agence hr {
  margin: 0 auto 20px auto;
  width: 50px;
  height: 3px;
  background-color: #fff;
}

.agence a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

.annonces {
  width: 90%;
  margin: 20px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.annonces .bloc {
  position: relative;
  margin-bottom: 10px;
}

.annonces .bloc img {
  height: 100%;
}

.annonces .bloc .encart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0000008f;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 30px;
  width: 40%;
  text-align: center;
}

.annonces .bloc .encart hr {
  background-color: #fff;
  height: 3px;
  width: 25px;
}

footer {
  background-color: #333333;
  color: #fff;
}

footer .footer__logo {
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 10px;
}

footer .footer__contact {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #fff;
  padding: 20px 0;
}

footer .footer__contact .elements {
  margin: 15px 10px;
}

footer .footer__contact .footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__contact .footer__social-media p {
  margin-bottom: 10px;
}

footer .footer__contact .footer__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__contact .footer__social-media ul li {
  margin: 0 5px;
}

footer .footer__contact .footer__social-media ul li img {
  width: 35px;
}

footer .footer__contact a {
  background-color: #be7890;
  padding: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  height: 32px;
  margin: 0;
}

footer .footer__mentions {
  background-color: #111111;
}

footer .footer__mentions p {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

@media only screen and (min-width: 568px) {
  header .header__bottom .header__recherche form {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
    row-gap: 0;
  }
  header .header__bottom .header__recherche form a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .annonces {
    -ms-grid-columns: (2fr)[auto-fill];
        grid-template-columns: repeat(auto-fill, 2fr);
  }
  .annonces .bloc {
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) {
  header .header__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__top p {
    width: 20%;
  }
  header .header__top i {
    display: none;
  }
  header .header__top .header__nav {
    overflow: visible;
    width: 80%;
    max-height: 700px;
  }
  header .header__top .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  header .header__top .header__nav ul li {
    background-color: transparent;
    margin: 0 10px;
  }
  header .header__top .header__nav ul li a {
    color: #000;
  }
  .container__images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }
  .derniere-annonces {
    width: 80%;
  }
  .annonces {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  header .header__bottom .header__recherche form {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  header .header__bottom .header__recherche form a {
    -ms-grid-column: 5;
    grid-column: 5;
    margin: 0;
    width: auto;
  }
  .container__images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
  .derniere-annonces {
    width: 70%;
  }
  .annonces {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */